@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&family=Poppins:wght@400;600;800&display=swap');

/* Base styling  */

* {
    margin: 0;
    /* Margin - is the space around an element */
    padding: 0;
    /* Padding - is the space around an element's content and  the border of the element  */
    box-sizing: border-box;
    /* box sizing: allows adding padding and margin to the width and height of an element */
    /* border-box - padding and margin are included in the width and height so that with margin */
    /* or padding the height or width of an element is not increased by the margin and padding values */
    font-size: 62.5%;
    /*1 rem or 100% equals 16pixels. Setting it to 62.5% means it is set to a 
    maximum of 10pixels instead of 16pixels, 62.5% of 16
    */
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.6rem;
    /*We have set the initial 1 rem to equal 10pixels*/
    /*So 1.6 rem = 1.6*10 equals 16pixels -> which is the normal size*/
    color: whitesmoke;
}

h1,
h2,
p {
    margin: 1.6rem 0;

}

h1 {
    font-weight: 800;
    font-size: 3.6rem
        /*36pixels*/
    ;

}

h2 {
    font-weight: 800;
    font-size: 2.4rem;
}

p {
    font-weight: 400;
    font-size: 1.8rem;
}

img {
    /*To make it responsive*/
    width: 100%;
    height: auto;
    /*to fit inside container*/
}

.row {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: auto;
}

section {
    padding: 100px 0;
}

/*Style hero section*/

header {
    height: 100vh;
    /* background-color: red; */
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url('images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
}

.logo h1 {
    font-size: 3.2rem;
    /* 1rem = 10px hence 32px */
    color: #2dda33;
    margin: 0;

}

nav {
    padding: 2% 8%;
    display: flex;
    justify-content: space-between;
}

nav box-icon {
    display: none;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-left: 2.5rem;
}

nav ul li a:hover {
    color: #2dda33;
    transition: 0.5s ease-in-out;
}

.header-content {
    width: 50%;
    position: relative;
    top: 16%;
    left: 8%;


}

form {
    top: 2.4rem 0;

}

input {
    font-size: 1.8rem;
}

input[type=text],
input[type=email] {
    width: 50%;
    padding: 12px 20px;
    margin: 1.2rem 0;
    display: block;
    border: 1px solid #ccc;
}

input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
}

/* Media Queries */

@media only screen and (max-width:768px) {
    nav {
        flex-direction: column;
        position: relative;
        /* to make the box icon move to the left of the nav*/
    }

    nav box-icon {
        display: block;
        position: absolute;
        top: 1.8rem;
        right: 3.2rem;
    }

    nav ul {
        background: whitesmoke;
        display: none;
    }

    .showmenu {
        display: block;
    }

    nav ul li {
        padding: 2% 0;
        display: block;
    }

    nav ul li a {
        color: #222;
    }
}